<h1>All Applications</h1>

<% students.forEach(student => { %>

    <div>

        <h3><%= student.name %></h3>

        <p><%= student.email %></p>

        <p><%= student.branch %></p>

        <p><%= student.skills %></p>

        <hr>

    </div>

<% }) %>